@charset "UTF-8";

.imgamerica {
    width: 400px;
    border: 10px solid #d9ad26;
    margin-bottom: 5%;
    border-radius: 120px 10px;
}
.imgmundial{
width: 400px;
border: 10px solid #d9ad26;
margin-bottom: 5%;
}

.imgfinalissima{
    width: 400px;
    border: 10px solid #d9ad26;
    margin-bottom: 5%;
    border-radius: 10px 120px;

}
.imgamerica {
    transition: all 300ms;
}

.imgamerica:hover {
    transform: scale(1.15);
}
.imgmundial {
    transition: all 300ms;
}

.imgmundial:hover {
    transform: scale(1.15);
}

.imgfinalissima {
    transition: all 300ms;
}

.imgfinalissima:hover {
    transform: scale(1.15);
}
@media screen and (max-width: 700px){
    .imgamerica{
        border-radius: 20px;
    }
    .imgfinalissima{
        border-radius: 20px;
    }
    .imgmundial{
        border-radius: 20px;
    }
}
h1 {
    text-align: center;
    text-transform: uppercase;
    color: #d9ad26;
    font-weight: 300 bolder;
    font-family: sans-serif;
    font-size: 50px;
    padding: 0%;
}

footer {
    text-align: center;
    font-size: 30px;
    background-color: black;
    color: white;
    padding: 10px;
}

.redes {
    margin-bottom: 6px;
    font-size: 50px;
    letter-spacing: 20px;
    color: #d9ad26;
}

.jugadores {
    font-size: 26px;
    color: white;
    font-family: sans-serif;
}

.tituloj {
    font-size: 30px;
    color: white;
    font-family: sans-serif;
    padding-top: 10px;
}

.fondoinfo {
    background-image: url(./Imagenes/fondomundial.jpg);
}

.tituloinfo {
    color: #d9ad26;
    font-size: 70px;
    font-family: sans-serif;
    text-align: center;
    text-transform: uppercase;
    padding-top: 40px;
    font-weight: 700;
    text-shadow: 2px 2px 6px black;
}

.titulo2info {
    text-align: center;
    color: #d9ad26;
    font-size: 50px;
    font-weight: 500;
    text-shadow: 2px 2px 6px black;
}

.pinfo {
    color: #d9ad26;
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    text-shadow: 2px 2px 6px black;
}

.fondo-mundial {
    background-image: url(./Imagenes/fondomundial.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.fondo-finalissima {
    background-image: url(./Imagenes/fondofinalissima.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.fondo-america {
    background-image: url(./Imagenes/fondoamerica.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.fondoinicio {
    background-image: url(./Imagenes/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 700px){
.fondo-mundial{
    background-image: url(./Imagenes/mundialmobile.jpg);
    background-position: center
}
.fondo-finalissima{
    background-position: center;
    background-image: url(./Imagenes/finalissimamobile.jpg)
}
.fondo-america{
    background-image: url(./Imagenes/americamobile.jpg);
    background-position: center;
}
.fondoinfo{
    background-image: url(./Imagenes/infomobile.jpg);
    background-position: center;
    background-repeat: no-repeat;
}
}


.tamañoimagen {
    width: 350px;
    border: 10px solid #d9ad26;
}

.tituloinicio {
    padding-top: 25px;
    padding-bottom: 25px;
}

.Copasinicio {
    display: flex;
    justify-content: space-around;
    padding-bottom: 75px;
}

@media screen and (max-width: 700px) {
    .Copasinicio {
        flex-direction: column;
        align-items: center;
        padding: 30px;

    }
}

.contenedor-boton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.boton-iniciar {
    font-size: 24px;
    background-color: #00FF7F;
    border: none;
    color: aliceblue;
    padding: 20px 40px;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #000000;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .boton-iniciar {
        padding: 10px 20px;
        font-size: 18px;
        background-color: #000000;
    }
}

.fondo-boton {
    background-image: url(./Imagenes/fondoboton.jpg);
}

.tamañoimagen {
    width: 350px;
    border: 10px solid #d9ad26;
}

.titulo10 {
    padding: 30px;
}

.fondojugadoresinfo {
    background-color: #000000;
}

.titulocopas{
    font-weight: 900;
    text-shadow: 4px 4px 8px black;
    padding-top: 15px;
}

.titulogoles {
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    color: #d9ad26;
    font-weight: 700;
    text-shadow: 1px 1px 2px black;
}

.parrafocopas1 {
    color: black;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
}

.videogoles {
    width: 50%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #d9ad26;
    margin-bottom: 5%;
}

.videogoles::after {
    content: "";
    display: block;
    width: 100%;
    padding-bottom: 56.25%;
}

.videogoles2 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.contactame {
    width: 400px;
    background-color: black;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: "Calibri";
    color: white;
    margin-bottom: 65px;
}

.contactame h4 {
    font-size: 22px;
    margin-bottom: 20px;
}

.controles {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2823529412);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #d9ad26;
    font-family: "Calibri";
    font-size: 18px;
    color: aliceblue;
}

.contactame p {
    height: 40px;
    text-align: center;
    font-size: 18px;
}

.contactame .botoncontactame {
    width: 100%;
    background-color: #d9ad26;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}

.contactame .mensaje {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2823529412);
    padding: 30px;
    border-radius: 4px;
    margin-bottom: 16px;
    font-family: "Calibri";
    font-size: 18px;
    border: 1px solid #d9ad26;
    color: aliceblue;
}

.titulocontactame {
    padding-top: 40px;
    color: #000000;
}

.fondocontactame {
    background-image: url(./Imagenes/fondocontactame.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    background-color: #d9ad26;
    margin-bottom: 5%;
    width: 80%;
    transition: all 300ms;
}
.card:hover{
    transform: scale(1.15);
}

.card__tittle {
    text-align: center;
    font-family: "Calibri";
    color: white;
    text-shadow: 0 0 5px #000;
    font-size: 30px;
}

.card__parrafo {
    padding: 15px;
    text-align: justify;
}

.tamañoimagenjugadores {
    width: 100%;
    height: auto;
}

.cartasjugadores {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media screen and (min-width: 700px) {
    .card {
        width: 30%;
        flex-direction: column;
        align-items: center;
    }
}
.imgtodo{
    border-radius: 70px;
}

/*# sourceMappingURL=estilos.css.map */